
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --added-text-color:#FFFFFF;
    --logo-button-text-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --background-color-hover:#2196F3;
    --background-color-added:#2F303A;
    --text-color: #000000;
    --text-color-footer:rgba(255, 255, 255, 0.6);
}

body {
background-color: var(--primary-background-color) ;
color: var(--primary-text-color);

font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.list {
    list-style: none;
}

/* Navigation's site */

.logo-letters {
    color: var(--logo-button-text-color);
}
.logo-header {
color:var(--text-color);
text-decoration: none;

font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
}
.link {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link:hover {color: var(--logo-button-text-color);
}
.link:focus {color: var(--logo-button-text-color)
}
.link.current {
    color: var(--logo-button-text-color);
}

/* Links to contacts */
.site-contacts {
   color: var(--primary-text-color);
   text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-contacts:hover {
    color: var(--logo-button-text-color);
}
.site-contacts:focus {
    color: var(--logo-button-text-color);
}

/* Hero */
.hero {
    background-color: var(--background-color-added);
}
.hero-title {
    color: var(--added-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}
.hero-button {
    background-color: var(--logo-button-text-color);
    color: var(--added-text-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    cursor: pointer;
}

/* Features and Images of the portfolio*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
        }
.features-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

/* Our works */
.our-work-title, .our-teams-title {
    color: var(--secondary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Our teams */
.our-teams-name {
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.our-team-profession {

    font-size: 16px;
    line-height: 1.19;
}
.team {
    background-color: var(--secondary-background-color);
}

/* Adress */
.footer {
    background-color: var(--background-color-added);
}
.logo-footer {
    color: var(--added-text-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.footer-contacts {
    color: var(--text-color-footer);
    font-style: normal;
    text-decoration: none;
}
.footer-adress {
    color: var(--added-text-color);
    font-style: normal;
    text-decoration: none;
}
.footer-adress:hover {
    color: var(--added-text-color);
}
.footer-adress:focus {
    color: var(--added-text-color);
}
.footer-contacts:hover {
    color: var(--added-text-color);
}
.footer-contacts:focus {
    color: var(--added-text-color);
}

/* Portfolio.html */
/* Filtr buttons */
.filtr {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    cursor: pointer;
}
.filtr:hover,
.filtr:focus {
    background-color: var(--logo-button-text-color);
    color: var(--added-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;.
}
/* Hero in Portfolio.html */
.portfolio-link{
    text-decoration: none;
}
.portfolio-title {
    color: var(--secondary-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-list {
    
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}